/* Colors */

$dark-blue: #403d52;
$light-blue: #78d0d3;
$white: #fff;
$light-red: #f28482;
$dark-red: #e85f5c;
$light-gray: #a89b9d;
$trial-gray: #fff8e8;

/* Font Weights */
$normal: 400;
$bold: 700;
