@import "../../styles/main";

.about-section {
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media only screen and(max-width:750px) {
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

.about {
  &__left {
    flex: 0 0 30%;
    @media only screen and(max-width:750px) {
      order: 2;
      width: 50%;
      margin: 0 auto;
    }
    @media only screen and(max-width:550px) {
      width: 70%;
    }
    @media only screen and(max-width:375px) {
      width: 90%;
    }
  }
  &__right {
    flex: 0 0 70%;
    padding-left: 6rem;
    padding-top: 4rem;
    @media only screen and(max-width:960px) {
      padding-left: 3rem;
    }
    @media only screen and(max-width:680px) {
      order: 1;
      padding-left: 0rem;
      padding-top: 2rem;
    }
  }
}
