@import "../../styles/main";

.about-section {
  // min-height: 90vh;
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about {
  &__left {
    flex: 0 0 30%;
    // background: yellow;
  }
  &__right {
    flex: 0 0 70%;
    padding-left: 6rem;
    padding-top: 4rem;
  }
}
