@import "../../styles/main";

/* Typography in Headers */

.main-heading {
  font-family: "Space Mono", monospace;
  font-size: 6rem;
  color: $dark-blue;
  font-weight: $bold;

  @media only screen and(max-width:1200px) {
    font-size: 5rem;
  }
  @media only screen and(max-width:880px) {
    font-size: 4rem;
  }
  @media only screen and(max-width:790px) {
    margin: 3rem auto;
    text-align: center;
  }
  @media only screen and(max-width:500px) {
    font-size: 3.4rem;
  }
  span {
    display: block;
    @media only screen and(max-width:790px) {
      display: inline;
      margin-left: 1.2rem;
    }
    @media only screen and(max-width:425px) {
      display: block;
    }
  }
}

.tagline {
  width: 80%;
  font-size: 1.6rem;
  margin-top: 2rem;
  color: $dark-blue;
  @media only screen and(max-width:1200px) {
    font-size: 1.4rem;
  }
  @media only screen and(max-width:880px) {
    font-size: 1.2rem;
  }
  @media only screen and(max-width:790px) {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1.4rem;
  }
  @media only screen and(max-width:425px) {
    font-size: 1.3rem;
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  min-height: 90vh;
  @media only screen and(max-width:790px) {
    flex-direction: column;
  }

  &__content {
    flex: 0 0 50%;
    @media only screen and(max-width:790px) {
      order: 2;
    }
  }
  &__image {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and(max-width:790px) {
      order: 1;
      width: 50%;
      transform: translateX(-2rem);
    }
    @media only screen and(max-width:500px) {
      width: 80%;
    }
    @media only screen and(max-width:425px) {
      transform: translateX(-1.5rem);
    }
    img {
      max-width: 60%;
    }
  }
  &__social-links {
    @media only screen and(max-width:790px) {
      order: 3;
      display: flex;
      // background: pink;
      & > * {
        margin: 3rem 2rem;
      }
    }
  }
}
